{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>User Homepage</title>
{% endblock%}

{% block main_content %}

<section id="banner">
  <div class="banner-home">
  </div>
</section>

<section id="new-deals">
  <div class="deals">
    <div class="container ">
        <div class="title text-center ">
            <h4 class="fs-1">New <span>Deal Offers</span></h4>
        </div>
        <div id="owl-demo2" class="owl-carousel owl-theme">

            <div class="item">
              <div class="img">
                <img src="images/book4.jpg" alt="Owl Image">
                <a href="" class="position-absolute top-0 end-0 btn btn-primary" >10.00%</a>
                <div class="best-click text-center ">
                  <a href="#" class=" text-center">Download <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
              </div>
            </div>
                <div class="latest-content mt-2">
                  <span class="author fs-6">John Strass</span><br>
                  <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                  <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                </div>
              </div>

              <div class="item">
                <div class="img">
                  <img src="images/book5.jpg" alt="Owl Image">
                  <a href="" class="position-absolute top-0 end-0 btn btn-primary" >20.87%</a>
                  <div class="best-click text-center ">
                    <a href="#" class=" text-center">Download <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                </div>
              </div>
                  <div class="latest-content mt-2">
                    <span class="author fs-6">John Strass</span><br>
                    <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                    <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                  </div>
                </div>

           <div class="item">
              <div class="img">
                <img src="images/book4.jpg" alt="Owl Image">
                <a href="" class="position-absolute top-0 end-0 btn btn-primary" >10.00%</a>
                <div class="best-click text-center ">
                  <a href="#" class=" text-center">Download <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
              </div>
            </div>
                <div class="latest-content mt-2">
                  <span class="author fs-6">John Strass</span><br>
                  <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                  <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                </div>
              </div>

              <div class="item">
                <div class="img">
                  <img src="images/book5.jpg" alt="Owl Image">
                  <a href="" class="position-absolute top-0 end-0 btn btn-primary" >15.90%</a>
                  <div class="best-click text-center ">
                    <a href="#" class=" text-center">Download <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                </div>
              </div>
                  <div class="latest-content mt-2">
                    <span class="author fs-6">John Strass</span><br>
                    <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                    <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                  </div>
                </div>

            <div class="item">
              <div class="img">
                <img src="images/book4.jpg" alt="Owl Image">
                <a href="" class="position-absolute top-0 end-0 btn btn-primary" >30.00%</a>
                <div class="best-click text-center ">
                  <a href="#" class=" text-center">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></i></a>
              </div>
            </div>
                <div class="latest-content mt-2">
                  <span class="author fs-6">John Strass</span><br>
                  <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                  <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                </div>
              </div>
              <div class="item">
                <div class="img">
                  <img src="images/book5.jpg" alt="Owl Image">
                  <a href="" class="position-absolute top-0 end-0 btn btn-primary" >10.88%</a>
                  <div class="best-click text-center ">
                    <a href="#" class=" text-center">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></i></a>
                </div>
              </div>
                  <div class="latest-content mt-2">
                    <span class="author fs-6">John Strass</span><br>
                    <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                    <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                  </div>
                </div>
                <div class="item">
                  <div class="img">
                    <img src="images/book4.jpg" alt="Owl Image">
                    <a href="" class="position-absolute top-0 end-0 btn btn-primary" >10.00%</a>
                    <div class="best-click text-center ">
                      <a href="#" class=" text-center">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></i></a>
                  </div>
                </div>
                    <div class="latest-content mt-2">
                      <span class="author fs-6">John Strass</span><br>
                      <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                      <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                    </div>
                  </div>

                  <div class="item">
                    <div class="img">
                      <img src="images/book5.jpg" alt="Owl Image">
                      <div class="best-click text-center ">
                        <a href="#" class=" text-center">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></i></a>
                    </div>
                  </div>
                      <div class="latest-content mt-2">
                        <span class="author fs-6">John Strass</span><br>
                        <span class=" book fs-5 fw-bold "> Summer Times Love Stories</span><br>
                        <span class=" text-decoration-line-through price fs-5">$29.00</span> <span class=" price fs-5">$20.00</span>
                      </div>
                    </div>
          </div>
    </div>
  </div>
  </section>


<section id="choose-books">
<div class="choose-books-container">
  <div class="choose-books-content text-center py-5">
    <h1 class="fw-bolder fs-1 mt-4">We have more than 10,000 titles to choose from</h1>
    <a href="" class="btn btn-primary mt-4 rounded-pill fs-6"> Explore Now</a>
  </div>
</div>
</section>

<!-- <section id="best-seller">
  <div class="container mb-5">
      <div class="title text-center">
          <h4 class="fs-1 pb-5">Our <span>Best-Sellers</span> </h4>
      </div>
      <div class="row">
        <div class="best-books col-md-3 col-sm-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>
        <div class="best-books col-md-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>
        <div class="best-books col-md-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>
        <div class="best-books col-md-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>
    </div>
    <div class="view-all text-end me-0">
      <a href="" class="fs-5 me-5">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>

  </div>
</section> -->

<section id="recommendation">
  <div class="container py-5 ">
      <div class="title text-center">
          <h4 class="fs-1 pb-5">Recommendations <span> For You</span></h4>
      </div>
      <div class="row ">
        <div class="best-books col-md-3 col-sm-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>

        <div class="best-books col-md-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>

        <div class="best-books col-md-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>
        <div class="best-books col-md-3">
          <div class="card" style="width: 16rem;">
            <div class="img">
              <img src="images/book4.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <p class="card-title fw-bold fs-5">Book Name</p>
              <p class="card-text">authors name</p>

            </div>
            <div class="best-hover text-center">
              <a href="#" class="pb-3">View Details <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
              <a href="#" class="py-3">Download </a>
            </div>
          </div>

        </div>
    </div>
    <div class="view-all text-end me-0">
      <a href="" class="fs-5 me-5">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>

  </div>
</section>







{% endblock %}