{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Login</title>
{% endblock%}

{% block main_content %}

<section id="register">

    <div class="container" data-aos="zoom-in-up">
        {% include 'messages.html' %}
      <div class="row">
      <div class="register-inner d-flex justify-content-center">


          <div class="col-md-5 registration">
            <div class="logo text-center">
              <img src="{% static 'images/logo2.JPG' %}" alt="" height="80px">
              </div>
              <div class="register-content">
            <h1 class="fs-5 fw-bold ms-5 my-4">Login to your Account</h1>
            <div class="form-content">

              <form method="post" action="">
                  {% csrf_token %}
                <div class="mb-3 ms-5">
                  <input type="text" name= "username" class="form-control py-2" style="width: 80%;" id="exampleInputname1"  placeholder="Enter Username">

                </div>

                  <div class="mb-3 ms-5">

                    <input type="password" name= "password" class="form-control py-2" style="width: 80%;" id="exampleInputPassword1" placeholder="Enter Password">

                  </div>

<!--                  <a href="/homepagelogin" class="btn btn-primary ms-5 rounded-pill px-5 py-2 btn-register my-1" type="submit" style="width: 74%;">Login</a>-->

                  <div>
                      <input class="btn btn-primary ms-5 rounded-pill px-5 py-2 btn-register my-1" type="submit" style="width: 74%;" value="login">
                  </div>

                  <div class="forgot py-3 text-center">
                    <span><a href="/password_reset">forgot password?</a></span>
                  </div>

                  <div class="or">
                    <h6><span>OR</span></h6>
                  </div>
                  <div class="google mx-5 text-center">
                    <a href="#"><img src="{% static 'images/google.jpg' %}" alt="" style="width: 15%;"><span>Continue with Google</span></a>
                  </div>

                </form>

                <div class="no-account px-5 py-4">
                  <span><i>Don't have an account?</i></span><span><a href="register" class="btn btn-primary rounded-pill float-end">Sign Up</a></span>
                </div>

          </div>
          </div>
          </div>

          <div class="col-md-5 register-img">
              <div class="register-img">
              <img src="{% static 'images/jaredd-craig-HH4WBGNyltc-unsplash.jpg' %}" alt="" width="100%" height="540px">
              </div>
          </div>

        </div>
        </div>



</div>
</section>


{% endblock %}