{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
    <title>Change Your Password</title>
{% endblock%}
{% block main_content %}
<div class="container">
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1 class="text-center">Change Your Password</h1>
          {% include 'messages.html'%}
        <div class="card py-2 px-2">
        <form class="form" action="" method="POST">
            {% csrf_token %}
            {{ form | bootstrap}}
            <button type="submit" class="btn btn-primary mt-3">Confirm</button>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock %}