{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Reset Your Password</title>
{% endblock%}
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center">Email Sended</h1>
            {% include 'messages.html'%}
            <div class="card py-2 px-2 m-3">
                <h1 class="text-center">Check your e-mail Conformation has been send</h1>

            </div>
        </div>
    </div>
</div>
{% endblock %}