{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Profile</title>
{% endblock%}
{% block main_content %}
<div class="container" style="padding:90px;">
    <h1 style="text-align:center;">Current Details</h1>
    {% include 'messages.html' %}
    <div class="card shadow-lg">
    <div class="row">
            <div class="col">
                    <img src="/{{request.user.profile.profile_pic}}" width="300" class="img-fluid">
                </div>

            <div class="col">
                <div class="py-3"><h4>Firstname : {{request.user.profile.firstname}}</h4></div>
                <div class="py-3"><h4>Lastname : {{request.user.profile.lastname}}</h4></div>
                    <div class="py-3"><h4>Phone : {{request.user.profile.phone}}</h4></div>

            </div>


        </div>
    </div>


        <div class="col ">
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Want to Update Details? Update Here</h1>
                <div class="card py-2 px-2 m-5 bg-dark text-white">
                    <form class="form myForm" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | bootstrap_horizontal}}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>


</div>


<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Enter first name';
    form_fields[2].placeholder = 'Enter last name';
    form_fields[3].placeholder = 'Enter phone number';
    for (var field in form_fields){
    field.className += ' my-2'
    }
</script>

{% endblock %}