{% extends 'layout.html' %}
{% load static %}
{% block title %}
<title>Register</title>
{% endblock%}

{% block main_content %}

<section id="register">
    <div class="container">
        {% include 'messages.html' %}
      <div class="row">
      <div class="register-inner d-flex justify-content-center">

          <div class="col-md-5 register-img">
            <div class="register-img">
            <img src="{% static 'images/jaredd-craig-HH4WBGNyltc-unsplash.jpg' %}" alt="" width="100%" height="500px">
          </div>
          </div>
          <div class="col-md-6 registration">
            <div class="logo text-center">
              <img src="images/logo2.JPG" alt="" height="80px">
              </div>
              <div class="register-content">
            <h1 class="fs-5 fw-bold ms-5 my-3">Create New Account</h1>

            <div class="form-content">

              <form method="post">
                  {% csrf_token %}
                <div class="mb-3 ms-5">
                    {{ form.username}}

                </div>

                  <div class="mb-3 ms-5">
                      {{ form.email}}
                  </div>

                  <div class="mb-3 ms-5">
                   {{ form.password1}}
                  </div>


                  <div class="mb-3 ms-5">
                      {{form.password2}}
                    </div>
                    <p class="terms ms-5 my-4"><input type="checkbox"> By creating an account I accept terms and conditions.</p>

                  <input type="submit" class="btn btn-primary ms-5 rounded-pill px-3 py-2 btn-register my-2"/>
                </form>
          </div>
          </div>
          </div>
        </div>
        </div>



</div>
</section>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[2].placeholder = "Enter username"
    form_fields[3].placeholder = "Enter email";
    form_fields[4].placeholder = "Enter password"
    form_fields[5].placeholder = "Confirm password"

<!--   for(field in form_fields){-->
<!--   form_fields[field].className += ' my-3'-->
<!--   }-->

</script>


{% endblock %}

