<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Footer</title>
</head>
<body>
 <section id="footer">
    <footer class="footer">
      <div class="l-footer px-5">
          <h1 style="color:orange;">Pick-a-Book

              <!-- <img src="images/logo.JPG" width="150" height="60" class="d-inline-block align-top rounded border-primary" alt=""> -->
          </h1>
          <p>
              You are bound to find more!!
          </p>
      </div>
      <ul class="r-footer">
          <li>
              <h2 class="f1" style="color:orange;"> Connect</h2>
              <ul class="box">
                  <li><a href="#"><i class="fab fa-facebook-f fa-2x m-2"></i>Facebook</a></li>
                  <li><a href="#"><i class="fab fa-instagram fa-2x m-2"></i>Instagram</a></li>
                  <li><a href="#"><i class="fab fa-twitter-square fa-2x m-2"></i>Twitter</a></li>
                  <li><a href="#"><i class="fab fa-linkedin fa-2x m-2"></i>LinkedIn</a></li>
              </ul>
          </li>

          <li class="features ">

              <h2 class="f1" style="color:orange;"> Company</h2>
              <ul class="box h-box">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Internet Based Ads</a></li>
                  <li><a href="#">Help</a></li>
              </ul>
          </li>

          <li>
              <h2 class="f1" style="color:orange;">Work with US</h2>
              <ul class="box">
                  <li><a href="#">Authors</a></li>
                  <li><a href="#">Advertise </a></li>
                  <li><a href="#">Authors and ads blog</a></li>
                  <li><a href="#">API</a></li>
              </ul>
          </li>
      </ul>
      <div class="b-footer">
          <p>
              © 2020 - 2021 All Rights Reserved | Pick A Book </p>
      </div>

          </div>
      </div>
  </footer>
  </section>
</body>
</html>