{% load static %}
<nav>
    <section id="top">
        <div class="row">
            <div class="menu">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid bg-light">
                        <a class="navbar-brand col-md-2 ms-5" href="homepage.html"><img
                                src="{% static 'images/logo.JPG' %}" width="59px" alt=""></a>
                        <button class="navbar-toggler bg-light navbar-light" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse col-md-7 bg-light" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active a" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link a" href="#">My Books</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle a" href="#" id="navbarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        Browse
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Recommendation</a></li>
                                        <li><a class="dropdown-item" href="#">Choice Awards</a></li>
                                        <li><a class="dropdown-item" href="#">Lists</a></li>
                                        <li><a class="dropdown-item" href="#">Explore</a></li>
                                        <li><a class="dropdown-item" href="#">Genres</a></li>
                                    </ul>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Recommendation</a></li>
                                        <li><a class="dropdown-item" href="#">Choice Awards</a></li>
                                        <li><a class="dropdown-item" href="#">Lishhhhhhs</a></li>
                                        <li><a class="dropdown-item" href="#">Explore</a></li>
                                        <li><a class="dropdown-item" href="#">Genres</a></li>
                                    </ul>

                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle a" href="#" id="navbarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        Community
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">Quotes</a></li>
                                        <li><a class="dropdown-item" href="#">Creative Writing</a></li>
                                        <li><a class="dropdown-item" href="#">Quizzes</a></li>
                                    </ul>
                                </li>
                                <form class="d-flex search mt-1">
                                    <input class="form-control me-2" type="search" placeholder="Search"
                                           aria-label="Search">
                                    <button class="btn btn-outline-success" type="submit"><i class="fa fa-search"
                                                                                             aria-hidden="true"></i>
                                    </button>
                                </form>

                            </ul>

                        </div>

                        {% if user.is_authenticated %}

                        <div class="collapse navbar-collapse log" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-lg-0 ms">

                                <li class="nav-item ">
                                    <a class="btn nav-link a mt-2 position-relative">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <span class="position-absolute top-0 mt-3 start-100 ms-1 translate-middle badge rounded-pill bg-danger">
                  0</span>
                                    </a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link mt-2 a position-relative" href="#"><i class="fa fa-bell-o" aria-hidden="true"></i>
                                        <span class="position-absolute top-0 mt-3 start-100 translate-middle badge rounded-pill bg-danger">
                        0
                      </span>
                                    </a>
                                </li>
<!--                                <li class="nav-item ms-3 dropdown">-->
<!--                                  <div class="action">-->
<!--                                      <div class="profile dropdown-toggle" onclick="menuToggle();">-->
<!--                                          <img src="images/art.jpg" alt=""/>-->
<!--                                      </div>-->
<!--                                      <div class="menu">-->
<!--                                          <h3>Ritika</h3>-->
<!--                                          <ul class="">-->
<!--                                              <li><i class="far fa-user"></i><a href="/my_profile">My Profile</a></li>-->
<!--                                              <li><i class="far fa-user-edit"></i><a href="/edit_profile">Edit Profile</a></li>-->
<!--                                              <li><i class="far fa-key"></i><a href="/password_change">Change Password</a></li>-->
<!--                                              <li><i class="far fa-shopping-bag"></i><a href="/kitchen/my_order">My Order</a></li>-->
<!--                                              <li><i class="far fa-question-circle"></i><a href="/kitchen/contact">Support</a></li>-->
<!--                                              <li><i class="fas fa-sign-out-alt"></i><a href="/logout">Logout</a></li>-->
<!--                                          </ul>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                              </li>-->


                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" id="navbarDropdown" role="button"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="{% static 'images/t2.png' %}" alt="" class="rounded-circle"
                                             style="width: 48px; height: 48px;">
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="#">My Profile</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                                    </ul>
                                </li>

                                {% else %}

                                <li class="nav-item btn-signup">
                             <a class="nav-link btn {{activate_login}}" href="/login">Sign In</a>
                           </li>
                                {% endif %}
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>
        </div>
    </section>
</nav>